body {
	background-color: white !important;
}

div#banner {
	background-color: red;
	position: fixed;
	width: 100%;
	z-index: 2000;
}

div#banner-content {
	text-align: center;
	color: white;
}

div .team {
	background: #FFFDFD;
	margin-bottom: -20px;
}

div#contact {
	background: #B7AEAE;
	text-align: center;
	color: white;
}

ul#details {
	text-align: center;
	color: white;
	list-style: none;
}

.row {
	margin-left: 50px !important;
	margin-right: 50px !important;
}

.team {
	text-align: center;
}

