body {
	background-color: white !important;
}

.banner {
	background-color: red;
	position: fixed;
	width: 100%;
	z-index: 2000;
}

.banner-content {
	text-align: center;
	color: white;
}

.row {
	margin-left: 50px !important;
	margin-right: 50px !important;
}

.team {
	text-align: center;
}