body {
	background-color: white !important;
}

div#banner {
	background-color: red;
	position: fixed;
	width: 100%;
	z-index: 2000;
}

div#banner-content {
	text-align: center;
	color: white;
}

div#team {
	text-align: center;
	background-color : white;
}

.row {
	margin-left: 50px !important;
	margin-right: 50px !important;
}

div#contact {
	background: #4E276E;
	text-align: center;
	color: white;
}

ul#details {
	text-align: center;
	color: white;
	list-style: none;
}

